@font-face {
    font-family: DDINBold;
    src: url(fonts/D-DIN-Bold.otf);
  }
@font-face {
    font-family: DDIN;
    src: url(fonts/D-DIN.otf);
}
*{
    font-family: DDIN;
    color: white;
}
body{
    margin: 0px;
    background-color: #0F0F0F;
    height: 100vh;
    padding: 25px;
}
main{
    display: grid;
    grid-template-columns: calc(20% - 25px) calc(80% - 25px);
    grid-template-rows: calc(10% - 25px) calc(90% - 25px);
    grid-gap: 25px;
    height: 100%;
    margin: 0px;
}
#map{
}
main > div{
    border: 7px solid white;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
}
#top{
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: stretch;
    align-self: center;
}
#top img{
    display: inline-block;
    height: 30px;
    align-self: center;
    justify-self: stretch;
    margin: 10px 10px 0px 10px;
}
#top p{
    display: inline-block;
    margin: 10px;
    font-size: 28px;
    margin: 10px 10px 10px 10px;
    align-self: center;
    justify-self: stretch;
}
#map{
    grid-column: 2/3;
    grid-row: 2/3;
}
#options{
    grid-column: 1/2;
    grid-row: 2/3;
}

@media only screen and (min-width: 834px) and (max-width: 1279px) {
}
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
}
@media only screen and (min-width: 1920px) {
}